h4 {
  margin-bottom: 0;
  font-family: Serif;
  color: #67734D;
  font-size: 20px;
  font-style: italic;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Serif;
  font-size: 9px;
  font-style: italic;
}

body {
  background-color: #EEE2C6;
    padding: 0;
    margin: 0;
}

b {
  color: #808080;
}

mark {
  background-color: #A69B92;
}

div#musubiHeader {
  font-family: Serif;
  color: #67734D;
  text-align: center;
  padding-top: 25vh;
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-image: none; 

}

#musubiHeader.tp6 {
  font-size: 50px;
    color: white;
}

ul, ol {
  display: none; 
}

ul.showMe,
ol.showMe {
  display: block;
}

#contributor {
  DISPLAY: BLOCK;
  width: 100%;
}

#menu {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height: 3.1rem;
  background: #EEE2C6;
}

#menu a{
  color:black;
  text-decoration:none;
  font-family: serif;
  white-space:nowrap;
  font-size:23px;
  line-height:0.5;
  padding: 1rem;
}


/* this is mobile-first CSS for 3 rows */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div {
  width: 100vw;
  padding: 2vw;
}

#ingredients {  
}

#equipment {
 
}

#directions {
 
}

h4 {
  font-size: 30px;
}

#footer {
  font-size: 10px;
  color: red;
  
}

/* responsive design */
@media (orientation:landscape) {
  
  div {
    width: calc(100vw/3 - 1vw);
    float: left;
  }
  
  h4 {
    font-size: 20px;
  }
}